@import './Variables.scss';

html,
body,
#root {
  height: 100%;
}

.App {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

body {
  background: url('../assets/background.jpg');
  background-size: cover;
}

.center-content {
  text-align: center;
}
