@import './Variables.scss';

html,
body,
#root {
  height: 100%;
}

.App {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

body {
  background: url('../assets/background.jpg');
  background-size: cover;
}

.center-content {
  text-align: center;
}

a {
  color: $red;
  text-decoration: none;
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
